<?xml version="1.0"?>

<model>
  <name>lhc_mockup</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Prithvi Pagala</name>
    <email>prithvisekhar@gmail.com</email>
  </author>

  <description>
    LHC mockup model imported from sketchup warehouse.
  </description>
</model>
