<?xml version="1.0"?>
<robot name="mrs" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants for robot -->
  <xacro:include filename="$(find mrs_description)/urdf/common_mrs.xacro" />
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find mrs_description)/urdf/simplified_mrs.xacro" />
  <!-- materials for visualization -->
<!--
  <xacro:include filename="$(find mrs_description)/urdf/materials.urdf.xacro" />
-->
  
  
  <xacro:macro name="initialising_frame" params="name child scale prefix">  
  <link name="${name}">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
      <material name="Red"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  
  <joint name="${name}_joint" type="fixed">
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
    <child link="${child}"/>
    <parent link="${name}"/>
  </joint>

  
  <xacro:pcm_cube_link parent="${name}" prefix="${prefix}" instance="1" scale="${scale}" len="0.35" />
     

  <xacro:joint_module parent="${name}" prefix="${prefix}" instance="1" scale="${scale}" rotate="0"/>


  </xacro:macro>   


<!-- For 1 Jm mobile robot -->

  <xacro:initialising_frame name="base_footprint" child="1_jm_link2_0.0" scale="1" prefix="1"/>

<!-- For 2 Jm mobile robot -->
<!--
 <xacro:initialising_frame name="base_footprint" child="1_jm_link_0.0" scale="1" prefix="1"/>
-->

<!--
  
  <gazebo>
    <plugin name="gazebo_ros_controller_manager" filename="libgazebo_ros_control.so">
      <robotNamespace>/mrs</robotNamespace>
    </plugin>

    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>/mrs/cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
    
  </gazebo>
-->

  
</robot>
