<?xml version="1.0"?>

<model>
  <name>MT200_nuc_manipulator</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Prithvi Pagala</name>
    <email>ps.pagala@upm.es</email>
  </author>

  <description>
    MT200 model from Louis Orona GSI L.Orona@gsi.de.
  </description>
</model>
