<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/mrs" args="--namespace=/mrs
					  1_W1_j1_position_controller
					  1_W1_j2_position_controller
					  1_W1_j3_position_controller
					  2_W1_j1_position_controller
					  2_W1_j2_position_controller
					  2_W1_j3_position_controller"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mrs_control)/config/mrs_control.yaml" command="load"/>

</launch>
