<?xml version="1.0"?>

<model>
  <name>Hotcell</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Prithvi Pagala</name>
    <email>ps.pagala@upm.es</email>
  </author>

  <description>
    Hotcell and storage from GSI (Louis Orona L.Orona@gsi.de).
  </description>
</model>
